@font-face 
{
font-family: mi estilo;    
src: url("../fuentes/letra1.ttf");
font-weight: 500;
}

@font-face 
{
font-family: mitexto;    
src: url("../fuentes/letra\ 2.ttf");
font-weight: 900;
}

h1 
{
    font-family: mi estilo;
    font-weight: 500;
    color: blue;
}

h2
{
    font-family: mitexto;
    font-weight: 900;
    color: aqua;
}

th 
{
    color: red;
}

td 
{
color: green;
}

li {
    display: inline;
}

.contenedorpadre {
    display: flex;
    border: 2px solid orange;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: aliceblue;
}

.hijo {
    
    margin: 20px;
    border: 2px solid blue;
    width: 250px;
    height: 250px;
    text-align: center;
    background-color: pink;
}