@font-face 
{
font-family: mi estilo;    
src: url("../fuentes/letra1.ttf");
font-weight: 500;
}

@font-face 
{
font-family: mitexto;    
src: url("../fuentes/letra\ 2.ttf");
font-weight: 900;
}

h1 
{
    font-family: mi estilo;
    font-weight: 500;
    color: blue;
}

h2
{
    font-family: mitexto;
    font-weight: 900;
    color: aqua;
}

th 
{
    color: red;
}

td 
{
color: green;
}